<!DOCTYPE html>
<html>
  <head>
    <title>AnimeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="layout-header">
      <div class="layout-title">animeapp</div>
      <div class="layout-header-right">
        <div class="layout-search">検索</div>
        <div class="layout-post">投稿する</div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
