<!DOCTYPE html>
<html>
  <head>
    <title>AnimeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="layout-header">
      <%= link_to('Animeapp', root_path, {class: "layout-title"}) %>
      <div class="layout-header-right">
        <%= link_to('検索', anime_search_anime_search1_path, {class: "layout-search"}) %>
        <%= link_to('投稿', animes_new_path, {class: "layout-post"}) %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
